# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
nodemon-debug.log*

# Dependency directories
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build output / caches
build/
dist/
tmp/
.temp/
.tmp/
.cache/
.eslintcache
.parcel-cache/

# Next.js / Vercel (si utilisé)
.next/
out/
.vercel/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# OS-specific
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
.fleet/

# Misc
*.local
*.swp
*.swo

script.sql